<div *ngIf="users" class="row justify-content-around">
  <div *ngFor="let user of users" class="card mt-4 col-md-3 ml-md-1" style="width: 18rem;">
    <img class="card-img-top mt-3" src={{user.picture.large}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.name.first}} {{user.name.last}}</h5>
      <p class="card-text">{{user.location.city}}</p>
      <p class="card-text">{{user.phone}}</p>
      <div class="row justify-content-around">
        <a href="#" class="btn btn-primary btn-sm">More details</a>
        <a href="#" class="btn btn-success btn-sm">See on the map</a>
      </div>
    </div>
  </div>
</div>
