<ng-container *ngIf="users">
  <div class="row justify-content-around">
    <div *ngFor="let user of users" class="card mt-4 col-md-3 ml-md-1" style="width: 18rem;">
      <img class="card-img-top mt-3" src="{{user.picture.large}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{user.name.first}} {{user.name.last}}</h5>
        <p class="card-text">{{user.location.city}}</p>
        <p class="card-text">{{user.phone}}</p>
        <div class="row justify-content-around">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#monModal"> More details</button>
          <a href="#" class="btn btn-success btn-sm">See on the map</a>
        </div>
      </div>

      <div class="modal" id="monModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{user.picture.large}}" alt="Description image">
                  </div>
                  <div class="col-md-6 ml-auto">
                    <p id="name">
                      {{user.name.last}} <br/>
                      {{user.name.first}} <br />
                      {{user.dob.age}}
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                  <div class="col-md-12">
                    <h6> Contact information: </h6>
                    <p>
                      {{user.email}} <br />
                      {{user.cell}}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h6> Address: </h6>
                    <p>
                      {{user.location.street.number}}, {{user.location.street.name}} <br />
                      {{user.location.city}}, {{user.location.state}}({{user.location.postcode}}) <br />
                      {{user.location.country}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>


