<header>
  <nav class="navbar navbar-light bg-light">
    <a [routerLink]="['/']" class="navbar-brand mb-0 h1"> Aled </a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</header>
<div class="container">
  <app-users-list [users]="users"></app-users-list>
  <div class="row mt-5">
    <div class="col-md-12">
      <app-map [users]="users"></app-map>
    </div>
  </div>
</div>
